body{
    font-family: 'Young Serif', serif;
}
.container{
    background-color: lightgrey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 630px;
}
img{
    width: 200px;
    float: left;
}
.header{
    margin-bottom: 200px;
}